@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
  padding-top: 0px;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax-img {
  transform: translateZ(-1px) scale(2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}